body{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size: 90%;}
.logo{
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: default;
}
.logo *{margin: 5px;}

button{
    width: 50px;
    height: 34px;
  /* border-top-right-radius: 50%;*/
   border-start-end-radius: 50px;
   border-end-end-radius: 50px;
   margin: 0px;
   border: 1px solid;
}
input{
    border-radius: 50px 0px 0px 50px ;
    border: 1px solid;
    height: 30px;
 

}
.nav{
  
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color:rgba(255,255,255, 0.9);
    
}
.searchbutton{
    display: inline-flex;
    align-items: center;
    justify-self: center
  
}
button:active{
    background-color: grey;
}
.yanlist{
    display: inline-flex;
   
margin-block: 5px;
    background-color: rgb(180, 178, 178);
    border-radius:25% 15 ;
    
    padding: 5px 15px 5px 15px;

}
.middle{
    display: flex;
    justify-content: flex-start;
    
   
}
.yan{
   
    white-space: nowrap;
    
}
.videos{
    white-space: normal;
}
.description h4{
    margin: 0px;
    width: 260px;
}
.description{
   display: inline-flex;
   width: 270px;
   flex-direction: column;
   margin: 3px;

}
li{
    cursor: default;
    border-radius: 10px;
}
.navlist :hover{
background-color: rgb(175, 175, 175);
}
.yanlist:hover{
    background-color: rgb(228, 228, 228);
}
.icon{
    padding-left: 10px;
}
